body{
    font-family: 'Dosis', sans-serif;
    background-color: #f3f1f7;
}

h1{
    font-family: 'Homemade Apple', cursive;
    display: flex;
    justify-content: center;
    color: rgb(3, 169, 244); 
}

.addNew{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 50px;
    margin: 2% 10%;
}

.postContainer{
    border: 2px solid black;
    border-radius: 5px;
    padding: 25px 50px;
    margin: 0% 10%;
}

h2{
    font-size: 24px;
    margin: 3px 0px;
}

p.ng-binding{
    margin: 3px 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
    padding: 15px;
    width: 50%;
    background-color: #B1DDEA;
    border: 2px solid black;
    border-radius: 5px;
}

#box > input{
    border: none;
    padding: 8px 3px;
    border-radius: 5px;
}
#box > textarea{
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
}

#box > h2{
    margin-bottom: 6px;
}

#box > .addNew{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 50px;
    margin: 2% 10%;
    background-color: white;
}


